.selected {
    background-color: lightskyblue;
}

.calendar-day {
    font-weight: bold;
}

.last-month {
    background-color: lightslategray
}

.this-month {

}

.next-month {
    background-color: lightgrey
}